# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Tests
test_smoke.py

# Editores
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
